body {
  font-family: 'Segoe UI', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #e0f7fa;
  color: #333;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
#background-video {
   width: 100vw;
   height: 100vh;
   object-fit: cover;
   position: fixed;
   left: 0;
   right: 0;
   top: 0;
   bottom: 0;
   z-index: -1;
}
.container {
  max-width: 500px;
  padding: 30px;
  background: rgba(59, 59, 59, 0.803);
  border-radius: 15px;
  box-shadow: 0 10px 30px rgba(0,0,0,0.1);
  text-align: center;
}
h1 {
  margin-bottom: 15px;
  color: #ffffff;
}
select {
  font-size: 16px;
  padding: 12px 15px;
  margin: 20px auto;
  border-radius: 10px;
  border: 1px solid #ccc;
  background-color: #f9f9f9;
  width: 80%;
}
button {
  background: linear-gradient(to right, #0288d1, #26c6da);
  color: white;
  border: none;
  padding: 14px 25px;
  font-size: 16px;
  font-weight: 500;
  border-radius: 30px;
  cursor: pointer;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease-in-out;
  margin: 10px;
}
button:hover {
  background: linear-gradient(to right, #0277bd, #00acc1);
  transform: translateY(-2px);
}
.countdown {
  margin-top: 20px;
  font-size: 20px;
  font-weight: bold;
  background-color: #b2ebf2;
  padding: 15px 20px;
  border-radius: 10px;
  display: inline-block;
}